
      <div class="images"></div>
<div>

&nbsp;&nbsp;

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table  mat-table [dataSource]="dataSource" class="table table-striped table-dark">


      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> <b>{{'Id' | translate}}</b> </th>
        <td mat-cell *matCellDef="let item" (contextmenu)="onContextMenu($event, item)">
          {{item.id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> <b>{{'Name' |translate}}</b> </th>
        <td mat-cell *matCellDef="let item" (contextmenu)="onContextMenu($event, item)">
          {{item.name}}
        </td>
        </ng-container>
        <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> <b>{{'Description'| translate}}</b> </th>
        <td mat-cell *matCellDef="let item" (contextmenu)="onContextMenu($event, item)">
          {{item.description}}
        </td>

      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <button  color="primary" (click)="removeSelectedRows()">
      Remove
    </button>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    <!-- <button class="btn btn-danger" (click)="onEmpDel(item.id)">Delete</button>&nbsp;&nbsp; -->
    <div style="visibility: hidden; position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      [matMenuTriggerFor]="contextMenu">
    </div>
    <mat-menu #contextMenu="matMenu">
      <ng-template matMenuContent let-item="item">
          <!-- <button mat-menu-item  data-toggle="modal" id="exampleModal" (click)="openAddPopup(item)" data-target="#myModal1">Add Article</button> -->
        <button mat-menu-item  (click)="openDialog(item.id)">{{'Delete' | translate}}</button>
        <button mat-menu-item  (click)="onContextMenuEdit(item, template)">Edit</button>
        <button mat-menu-item  (click)="onContextMenuEdit(item, template1)">Add</button>
      </ng-template>
    </mat-menu>


    <!-- </tr> -->
    </div>


    <ng-template #template>

          <div class="modal-content">
            <div class="container">
              <form (ngSubmit)="onUpdate(f1)"  #f1="ngForm">
                <h2 >Edit</h2>
                <div class="form-group" >
                  <label>Employee Id</label>
                  <input name="id" [(ngModel)]="id"  class="form-control" style="width: 400px"  type="text">
                </div>
                <div class="form-group" >
                  <label>Employee Name</label>
                  <input name="name" [(ngModel)]="name"  class="form-control" style="width: 400px"  type="text">
                </div>
                <div class="form-group" >
                  <label>Departement</label>
                  <input name="description"  [(ngModel)]="description" class="form-control"  style="width: 400px"  type="text" >
                </div>
                <div class="form-group">
                  <button type="submit" style="width: 100px"  class="form-control btn btn-primary" >Update</button>
                </div>
              </form>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
          </div>
        <!-- </div> -->
      </ng-template>



        <!-- <div>
          <form [formGroup]="tableForm" (ngSubmit)="onFormSubmit(tableForm.value)">
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input type="text" formControlName="name" placeholder="Enter Name">&nbsp;
                    <input type="text" formControlName="description" placeholder="Enter Description">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Save</button>
                  </div>
                </div>
              </div>
            </div>
            </form>
        </div> -->
      <!-- </ng-template> -->
      <ng-template #template1>

        <div class="modal-content">
          <div class="container">
            <form (ngSubmit)="onFormSubmit(f1.value)"  #f1="ngForm">
              <h2 >Add</h2>
              <!-- <div class="form-group" >
                <label>Employee Id</label>
                <input name="id"   class="form-control" style="width: 400px"  type="text">
              </div> -->
              <div class="form-group" >
                <label>Employee Name</label>
                <input name="name" ngModel class="form-control" style="width: 400px"  type="text">
              </div>
              <div class="form-group" >
                <label>Departement</label>
                <input name="description" ngModel  class="form-control"  style="width: 400px"  type="text" >
              </div>
              <div class="form-group">
                <button type="submit" style="width: 100px"  class="form-control btn btn-primary" >Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Close</button>
              </div>
            </form>
          </div>
          <!-- <div class="modal-footer"> -->

          <!-- </div> -->
        </div>
      <!-- </div> -->
    </ng-template>



