<ng-template  #content let-modal>
  <h1 class="center"><b>Edit Data</b></h1>
<form>
<div class="container">
<div class="row">
    <!-- <div  class="col-xs-12 col-sm-6 col-md-8">
      <label><b>Name</b></label>
      <input name="task_id" [(ngModel)]="contractor"  #name="ngModel" type="text" class="form-control"  placeholder="enter name of contractor">
    </div>
    <div  class="col-xs-6 col-sm-4">
        <label><b>Address</b></label>
        <input  name="due_date" [(ngModel)]="adress" #adress="ngModel" type="text" class="form-control"  placeholder="enter address of contractor">

      </div>
      <div  class="col-xs-6 col-sm-4">
        <label><b>contact</b></label>
        <input  name="due_date" [(ngModel)]="contact" #contact="ngModel" type="text" class="form-control"  placeholder="enter contact of contractor">
      </div> -->
</div>


<div class="container">
    <div class="row custom-wrapper">
       <div class="col-md-12">

          <button type="submit" (click)="openEdit()" class="btn btn-primary btn-sm-2 text-white">Submit</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger btn-sm-2 text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancel</button><br/>
         </div>
    </div>
 </div>
 <br/>
</div>
</form>
</ng-template>
<!-- <ng-template  #contents let-modal>
  <h1 class="center"><b>Add data</b></h1>
<form  (ngSubmit)="onAdd(f)" #f="ngForm" >
<div class="container">
<div class="row">
    <!-- <div  class="col-xs-12 col-sm-6 col-md-8">
      <label><b>Name</b></label>
      <input name="task_id" [(ngModel)]="contractor"  #name="ngModel" type="text" class="form-control"  placeholder="enter name of contractor">
    </div>
    <div  class="col-xs-6 col-sm-4">
        <label><b>Address</b></label>
        <input  name="due_date" [(ngModel)]="adress" #adress="ngModel" type="text" class="form-control"  placeholder="enter address of contractor">

      </div>
      <div  class="col-xs-6 col-sm-4">
        <label><b>contact</b></label>
        <input  name="due_date" [(ngModel)]="contact" #contact="ngModel" type="text" class="form-control"  placeholder="enter contact of contractor">
      </div>
</div> -->


<!-- <div class="container">
    <div class="row custom-wrapper">
       <div class="col-md-12">

          <button type="submit" (click)="addData()" class="btn btn-primary btn-sm-2 text-white">Submit</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger btn-sm-2 text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancel</button><br/>
         </div>
    </div>
 </div>
 <br/>
</div> -->
<!-- </form>
</ng-template>-->

