




<!DOCTYPE html>
<html>
<head>
<title>CSS Contact Form</title>
<meta charset="utf-8" />
<link rel="stylesheet"  type="text/css" media="all" />
</head>
<body>
<h2>Contact Us</h2>
<form class="form">
<p class="name">
<input type="text" name="name" id="name"  />
<label >Name</label>
</p>
<p class="email">
<input type="text" name="email" id="email" />
<label >Email</label>
</p>
<p class="web">
<input type="text" name="web" id="web" placeholder="www.example.com" />
<label >Website</label>
</p>
<p class="text">
<textarea name="text" placeholder="Write something to us" ></textarea>
</p>
<p class="submit">
<input type="submit" value="Send" />
</p>
</form>
</body>
</html>
